*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

[class^="body"]{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1;
}

[class$="link"] {
    text-decoration: none;
}

[class*="footer-contacts"] {
    color: rgb(29, 28, 28);
    padding-top: 18px;
}

img {
    max-width: 100%;
}

.link {
    color: aliceblue;
    opacity: .9;
    position: relative;
    top: -90px;
    left: 500px;
    font-weight: 400;
}

.conteiner_main {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 86px;
}

.header_main {
    position: absolute;
    width: 100%;
}

.main_main {
    padding-top: 200px;
    background-image:url(../img/фон1стр.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-title {
    color: aliceblue;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 100px;
    opacity: .9;
}
  
.services_main {
    padding-top: 5px;
    padding-bottom: 10px;
    color: rgb(44, 42, 42);
}

.services-title_main {
    max-width: 606px;
    padding-bottom: 50px;
}

.services-list_main {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.services-subtitle_main{
    padding-bottom: 5px;
}

.services-text_main{
    color: rgba(136, 133, 133, .8);
    text-indent: 20px;
}

.services-item_main {
    list-style-type: none;
}

.footer_main {
    background-color: rgb(224,106,58);
    text-align: center;
}

.footer_main .conteiner_main {
    padding-bottom: 10px;
}

.footer-contacts-main_link{
    padding-right: 70px;
}

.header_tour {
    background: url(../img/фон2стр.jpg) center no-repeat;
    background-size: cover;
    padding-bottom:430px;
}

.header_tour_title {
    font:bold 2.5rem/1.222 'Lato';
    color: aliceblue;
    padding-top: 200px;
    text-align: center;
}

.header_tour_title p {
    font-size: 2rem;
    margin: 50px;
}


