*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

[class^="body"]{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1;
}

[class$="link"] {
    text-decoration: none;
}

[class*="footer-contacts"] {
    color: rgb(29, 28, 28);
    padding-top: 18px;
}

img {
    max-width: 100%;
}

.link {
    color: aliceblue;
    opacity: .9;
    position: relative;
    top: -90px;
    left: 500px;
    font-weight: 400;
}

.conteiner_main {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 86px;
}

.header_main {
    position: absolute;
    width: 100%;
}

.main_main {
    padding-top: 200px;
    background-image:url(../img/фон1стр.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-title {
    color: aliceblue;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 100px;
    opacity: .9;
}
  
.services_main {
    padding-top: 5px;
    padding-bottom: 10px;
    color: rgb(44, 42, 42);
}

.services-title_main {
    max-width: 606px;
    padding-bottom: 50px;
}

.services-list_main {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.services-subtitle_main{
    padding-bottom: 5px;
}

.services-text_main{
    color: rgba(136, 133, 133, .8);
    text-indent: 20px;
}

.services-item_main {
    list-style-type: none;
}

.footer_main {
    background-color: rgb(224,106,58);
    text-align: center;
}

.footer_main .conteiner_main {
    padding-bottom: 10px;
}

.footer-contacts-main_link{
    padding-right: 70px;
}

.header_tour {
    background: url(../img/фон2стр.jpg) center no-repeat;
    background-size: cover;
    padding-bottom:430px;
}

.header_tour_title {
    font:bold 2.5rem/1.222 'Lato';
    color: aliceblue;
    padding-top: 200px;
    text-align: center;
}

.header_tour_title p {
    font-size: 2rem;
    margin: 50px;
}

.main_tour{
    align-items: center;
    background: linear-gradient( rgba(245, 247, 243, 0.9) 20%, rgba(253,163,41, .8) 90%);
}

.tour_content {
    display: flex;
    justify-content: space-around;
}

.tour_title {
    background: rgba(233, 230, 230, 0.4);
    color: rgba(116, 112, 112, 0.8);
    max-width: 50%;
    font-weight: 500;
    font-size:1.2rem;
    line-height: 1.2;
    margin: 70px;
    text-align: center;
    border-radius: 10px;
}

.tour_title_caption {
    font-weight: 500;
    font-size:2.5rem;
    line-height: 1.2;
    padding: 10px;
    color: rgb(44, 42, 42);
}

.tour_img {
    margin: 35px;
    width: 40%;
    background: rgba(243, 240, 240, .5);
    border-radius: 10px; 
    padding: 6px;
}

.tour_link {
    color:rgba(247, 240, 240, .6);
    margin-left: 820px;
}



