*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

[class^="body"]{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1;
}

[class$="link"] {
    text-decoration: none;
}

[class*="footer-contacts"] {
    color: rgb(29, 28, 28);
    padding-top: 18px;
}

img {
    max-width: 100%;
}

.link {
    color: aliceblue;
    opacity: .9;
    position: relative;
    top: -90px;
    left: 500px;
    font-weight: 400;
}

.conteiner_main {
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 86px;
}

.header_main {
    position: absolute;
    width: 100%;
}

.main_main {
    padding-top: 200px;
    background-image:url(../img/фон1стр.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-title {
    color: aliceblue;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 100px;
    opacity: .9;
}
  
.services_main {
    padding-top: 5px;
    padding-bottom: 10px;
    color: rgb(44, 42, 42);
}

.services-title_main {
    max-width: 606px;
    padding-bottom: 50px;
}

.services-list_main {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.services-subtitle_main{
    padding-bottom: 5px;
}

.services-text_main{
    color: rgba(136, 133, 133, .8);
    text-indent: 20px;
}

.services-item_main {
    list-style-type: none;
}

.footer_main {
    background-color: rgb(224,106,58);
    text-align: center;
}

.footer_main .conteiner_main {
    padding-bottom: 10px;
}

.footer-contacts-main_link{
    padding-right: 70px;
}

.header_tour {
    background: url(../img/фон2стр.jpg) center no-repeat;
    background-size: cover;
    padding-bottom:430px;
}

.header_tour_title {
    font:bold 2.5rem/1.222 'Lato';
    color: aliceblue;
    padding-top: 200px;
    text-align: center;
}

.header_tour_title p {
    font-size: 2rem;
    margin: 50px;
}

.main_tour{
    align-items: center;
    background: linear-gradient( rgba(245, 247, 243, 0.9) 20%, rgba(253,163,41, .8) 90%);
}

.tour_content {
    display: flex;
    justify-content: space-around;
}

.tour_title {
    background: rgba(233, 230, 230, 0.4);
    color: rgba(116, 112, 112, 0.8);
    max-width: 50%;
    font-weight: 500;
    font-size:1.2rem;
    line-height: 1.2;
    margin: 70px;
    text-align: center;
    border-radius: 10px;
}

.tour_title_caption {
    font-weight: 500;
    font-size:2.5rem;
    line-height: 1.2;
    padding: 10px;
    color: rgb(44, 42, 42);
}

.tour_img {
    margin: 35px;
    width: 40%;
    background: rgba(243, 240, 240, .5);
    border-radius: 10px; 
    padding: 6px;
}

.tour_link {
    color:rgba(247, 240, 240, .6);
    margin-left: 820px;
}
.popup_checkbox, .popup {
    display:none;
}
  
.popup {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup_content {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    color:rgb(20, 22, 20);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 195px;
    height: 130px;
}
  
.popup_shower {
    position: fixed;
    display: block;
    color: rgb(241, 241, 247);
    cursor: pointer;
    text-decoration:none;
    width: 8%;
    height: 80px;
    top: 75%;
    left:87%;
    background-color:rgb(250, 250, 250);
    border-radius: 20%;
    box-shadow: 3px 3px grey;
    opacity: 0.9;
}

.call {
    color:rgb(5, 3, 3) ;
    text-align: center;
    margin-top: 20px;
}
  
.popup_closer {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(1, 3, 0);
    font-size: 20px;
    border: 1px solid #999;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
}
  
.popup_closer:hover {
    background-color: rgb(168, 167, 167);
}

.popup_checkbox:checked + .popup {
    opacity:1;
    display: block;
}


